{% load static %}
<div
    class="p-5 text-center bg-image"
    style="
        background:
        linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),
        url('/static/img/background.jpg') no-repeat;
        background-size:100%;
        background-attachment: fixed;
        height: 400px;
        object-position: 50% 50%;
          "
    >
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
            <h1 class="mb-3">Azercell Document System</h1>
            <a class="btn btn-outline-light btn-lg" href="/home#DocUpload" role="button">Document Upload</a>
        </div>
    </div>
</div>