{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Toggle button -->
        <a class="navbar-brand" href="{% url 'home' %}">DocSystem</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% if nbar == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if nbar == 'dashboard' %}active{% endif %}" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Documents
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  
                    <li><a href="{% url 'type' 'Arayış' %}" class="dropdown-item {% if nbar == 'Arayış' %}active{% endif %} ">Arayış</a></li>
                    <li><a href="{% url 'type' 'Protokol' %}" class="dropdown-item {% if nbar == 'Protokol' %}active{% endif %}">Protokol</a></li>
                    <li><a href="{% url 'type' 'Akt' %}" class="dropdown-item {% if nbar == 'Akt' %}active{% endif %}">Akt</a></li>
                    <li><a href="{% url 'type' 'Məktub' %}" class="dropdown-item {% if nbar == 'Məktub' %}active{% endif %}">Məktub</a></li>
                    <li><a href="{% url 'type' 'Hesabat' %}" class="dropdown-item {% if nbar == 'Hesabat' %}active{% endif %}">Hesabat</a></li>
                    <li><a href="{% url 'type' 'İş planı' %}" class="dropdown-item {% if nbar == 'İş planı' %}active{% endif %}">İş planı</a></li>
                    <li><a href="{% url 'type' 'İzahat' %}" class="dropdown-item {% if nbar == 'İzahat' %}active{% endif %}">İzahat</a></li>
                  
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sections
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.user.is_superuser %}
                    <li><a href="{% url 'section' 'Internal Control' %}" class="dropdown-item {% if nbar == 'Internal Control' %}active{% endif %}">Internal Control</a></li>
                    <li><a href="{% url 'section' 'Information Security' %}" class="dropdown-item {% if nbar == 'Information Security' %}active{% endif %}">Information Security</a></li>
                    <li><a href="{% url 'section' 'Business Continuity Management' %}" class="dropdown-item {% if nbar == 'Business Continuity Management' %}active{% endif %}">Business Continuity Management</a></li>
                    <li><a href="{% url 'section' 'Physical Security' %}" class="dropdown-item {% if nbar == 'Physical Security' %}active{% endif %}">Physical Security</a></li>
                  {% elif request.user.groups.first.name == 'Business Continuity Management' %}
                    <li><a href="{% url 'section' 'Business Continuity Management' %}" class="dropdown-item {% if nbar == 'Business Continuity Management' %}active{% endif %}">Business Continuity Management</a></li>
                  {% elif request.user.groups.first.name == "Internal Control" %}
                    <li><a href="{% url 'section' 'Internal Control' %}" class="dropdown-item {% if nbar == 'Internal Control' %}active{% endif %}">Internal Control</a></li>
                  {% elif request.user.groups.first.name == "Information Security" %}
                    <li><a href="{% url 'section' 'Information Security' %}" class="dropdown-item {% if nbar == 'Information Security' %}active{% endif %}">Information Security</a></li>
                  {% elif request.user.groups.first.name == "Physical Security" %}
                    <li><a href="{% url 'section' 'Physical Security' %}" class="dropdown-item {% if nbar == 'Physical Security' %}active{% endif %}">Physical Security</a></li>
                  {% endif %}
                </ul>
              </li>



              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tags
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for tag in navTags %}    
                    <li><a href="/tag/{{tag.slug}}" class="dropdown-item {% if nbar == tag.slug %}active{% endif %}">{{tag.name}}</a></li>
                  {% endfor %}
                </ul>
              </li> -->

            </ul>
            
            {% if request.user.is_authenticated %}
              {% if request.user.get_full_name %}
              <span class="navbar-text">
                Welcome, {{request.user.get_full_name}} 
              </span>
              {% endif %}
              <ul class='  mb-2 mb-lg-0'>
                <li class="nav-item">
                  <a class="btn btn-secondary  btn-sm" aria-current="page" href="{% url 'logout'  %}">Logout</a>
                </li>
              </ul>
            {% endif %}
              
    </div>
</nav>