{% load static %}

<section class="border p-4 d-flex justify-content-center mt-5 mb-5" id="DocUpload">
    <div class="container">
        <h2 class='mb-5'>Document Upload Form</h2>
        <!-- <div class="container">
            {{form.errors}}
          </div> -->
        <form enctype="multipart/form-data"  method="POST" name="DocUpload" action="">
            {% csrf_token %}
            <!-- DocName input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="id_document_name">Document Name</label>
                {{form.document_name}} 
                <div class="invalid-feedback">
                    <ul>
                        {% for error in form.document_name.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>   
            </div>

            <!-- File İnput -->
            <div class="input-group mb-4">
                <label class="input-group-text" for="id_file">Signed file</label>
                {{form.file}}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in form.file.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>  
            </div>

            
            <!-- DocType -->
            <div class="form-outline mb-4">
                <label class="form-label" for="id_document_type">Document Type</label>
                {{form.document_type}}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in form.document_type.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>  
            </div>

            <!-- IncidentType -->
            <div class="form-outline mb-4" id='id_incident_type_div'>
                <label class="form-label" for="id_incident_type">Incident Type</label>
                {{form.incident_type}}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in form.incident_type.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>  
            </div>

            <!-- Department -->
            <div class="form-outline mb-4">
                <label class="form-label" for="id_section">Section</label>
                {{form.section}}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in form.section.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Date -->
            <div class="form-outline date mb-4">
                <label class="form-label" for="id_date">Date</label>
                <br>
                {{form.date}}
                <!-- <span class="btn btn-dark btn-md input-group-addon" style="margin: 0% 1%;">Select</span> -->
                <div class="invalid-feedback">
                    <ul>
                        {% for error in form.date.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>   
            </div>

            <!-- Notes input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="id_description">Description</label>
                {{form.description}}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in form.description.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul
                </div>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="id_description">Tags</label>
                {{form.tags}}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in form.tags.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul
                </div>
            </div>

            <!-- Unsigned File İnput -->
            <div class="form-outline mt-2">
                <p><i>Not required</i></p>
            </div>
            <div class="input-group mb-4">
                <label class="input-group-text" for="id_unsigned_file">Unsigned file</label>
                {{form.unsigned_file}}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in form.unsigned_file.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>  
            </div>

            <button type="submit" class="btn btn-dark" style='margin-top:10px;'>Submit</button>
        </form>
        
    </div>
</section>